Comments from ISE review (Adrian Farrel)

Hi,

Here is my review as the ISE. The comments are minor and mainly editorial
in nature. I thought the document read well. Some polish to the English
would be helpful if you have access to a friendly native-speaker with
some spare time - otherwise we'll leave it to the RFC Editor to clean up.

Let me know if you have any questions.

Regards,
Adrian
-- 
Adrian Farrel (ISE),
rfc-ise@rfc-editor.org

===============

idnits reports a few issues:

  ** The document seems to lack separate sections for Informative/Normative
     References.  All references will be assumed normative when checking for
     downward references.

< I think most of your references are Informative, but you should think about
< whether any of them are "must read" references.

  == There are 26 instances of lines with non-RFC2606-compliant FQDNs in the
     document.

< Actually, there are way more than 26 :-)
< I think these are all OK. But please check.

  == There are 3 instances of lines with non-RFC3849-compliant IPv6 addresses
     in the document.  If these are example addresses, they should be
changed.

< I see way more than 3.
< I believe they are real addresses correctly used, but please check.

  -- No information found for draft-icann-dnssec-keymgmt - is the name
     correct?

< That's OK. Just idnits getting confused when it sees "draft-".

---------------

The Abstract may be a little long. The RFC editor asks you to keep to a
maximum of 20 lines. I leave it to you to think about this, but you might
remove the "promotional" text to end up with...

   The Internet's Domain Name System is designed and built on a single
   root, known as the Root Server System.

   Yeti DNS is an experimental, non-production root server testbed that
   provides an environment where technical and operational experiments
   can safely be performed without risk to production root server
   infrastructure.  Yeti DNS is an independently-coordinated project and
   is not affiliated with ICANN, IANA or any Root Server Operator.

   The Yeti DNS testbed implementation includes various novel and
   experimental components.  These differences from the Root Server
   System have operational consequences; by deploying such a system
   globally but outside the production DNS system, the Yeti DNS project
   provides an opportunity to gain insight into those consequences
   without threatening the stability of the DNS.

   This document neither addresses the relevant policies under which the
   Root Server System is operated nor makes any proposal for changing
   any aspect of its implementation or operation.  This document aims
   solely to document the technical and operational experience of
   deploying a system which is similar to but different from the Root
   Server System.

---------------

There are a lot of inline URL references. You might prefer to replace
them with citation indexes:  see 4.8.6.1 of RFC 7322.

---------------

I'm OK with this being published as Informational as it provides
information about the testbed and your experiences, but had you
considered it being marked as Experimental?

---------------

There are a few abbreviations that may be well known in DNS circles, but
you really should expand them on first use. I see:

AXFR
BII
NS
SOA
TISF
VPS
WIDE
ZSK

Possibly others.

You also use "DM" before the text that expands it.

---------------

The last para of section 4 has
   Note that the roots are not bound to DMs.  DMs update their zone in a
   time schedule describe in section 3.1.
Should that be 4.1?

---------------

4.2.3

   A change to the transformation described in Section 4.2.2 has been
   proposed that would preserve the NSEC chain from the Root Zone and
   all RRSIG RRs generated using the Root Zone's ZSKs.

"Has been proposed"? Do you have a reference for that? Or is that this
document?

---------------

Bottom of p15

Not clear on meaning. Perhaps...

OLD
   Note that
   the rationale of IPv6-only testbed is to test whether IPv6-only root
   can survive or not.  Any problem or impact when IPv4 is turn off,
   much like the context of IETF sunset4 WG
   (https://datatracker.ietf.org/wg/sunset4/about/).
NEW
   Note that
   the rationale of an IPv6-only testbed is to test whether IPv6-only
   root can survive any problem or impact when IPv4 is turned off, much
   like the context of the IETF's sunset4 WG
   (https://datatracker.ietf.org/wg/sunset4/about/).
END

---------------

While Section 7 is fine when limited to the security of the Yeti testbed
I think you might ad some summary of the your experience of DNSSEC. You
can do this largely with pointers to other sections, but this would be
helpful for the reader who cares about DNS security and goes straight to
Section 7 as their starting point.
